<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilo.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style type="text/css">
        a:link,
        a:visited,
        a:active {
            text-decoration: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MercadoLiebre</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top">
        <img class="logo" src="/img/logo-mercado-liebre.svg"  alt="logo">
       <!--  <section> -->
            <nav class="barra-busqueda"><input type="search" name="barra de busqueda" href="/search">
                <i class="fas fa-search"></i> </nav>
                <h2 class="header-text">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2></div>
       <!-- </section> -->
        

        <nav class="barra-nav-header">
            <ul>
                <div class= "left-navbar">

                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <div class="right-navbar">
                    <li><a href="/register">Crea tu cuenta<i class="fas fa-address-card"></i></i></li></a>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></i></li></a>
                    <li><a href="/shopping">Mis compras<i class="fas fa-shopping-basket"></i></i></li></a>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </div>
    </header>
    <img class="banner" src="/img/img-home-banner.jpg" class="product-img">
    <main>
        <section>
            <header>
                <h1><strong>Basado en tu última visita</h1></strong>
                <div class="productos">
                    <article>
                        <div class="articulos">
                            <img src="/img/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                            <div class="pie">
                            <i class="fas fa-truck icono-carrito"></i>
                            <p class="precios"> $6.770</p>
                            <p class="descuento-tamaño">40% OFF</p>
                            <strong>
                                <p class="descripcion">Cafetera Moulinex
                            </strong></p><br>
                        </div>
                    </div>
                    </article>
                    <article>
                        <div class="articulos">
                            <img src="/img/img-macbook-pro-2019.jpg" alt="imagen de macbook" class="imagenes-productos">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuento-tamaño">20% off</p>
                            <strong>
                                <p class="descripcion">MacBook Pro 2019
                            </strong></p><br>
                        </div>
                    </article>
                    <article>
                        <div class="articulos">
                            <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen de celular samsung"
                                class="imagenes-productos">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuento-tamaño">10% off</p>
                            <strong>
                                <p class="descripcion">Samsung Galaxy S10
                            </strong></p>
                        </div>
                    </article>
                    <article>
                        <div class="articulos">
                            <img src="/img/img-tv-samsung-smart.jpg" alt="imagen de tv samsung"
                                class="imagenes-productos">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuento-tamaño">5% off</p>
                            <strong>
                                <p class="descripcion"> SmartTv Samsung 43"
                            </strong></p>
                        </div>
                    </article>
                </div>
        </section>
        </ul>
        </nav>
    </section>


    <!-- Ofertas -->
    <section>
        <header>
            <h1><strong>Ofertas</h1></strong>
            <div class="productos">
                <article>
                    <div class="articulos">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="imagen de cafetera">

                        <i class="fas fa-truck icono-carrito"></i>
                        <p class="precios"> $6.770</p>
                        <p class="descuento-tamaño">40% OFF</p>
                        <strong>
                            <p class="descripcion">Cafetera Moulinex
                        </strong></p><br>
                    </div>
                </article>
                <article>
                    <div class="articulos">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="imagen de macbook" class="imagenes-productos">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuento-tamaño">20% off</p>
                        <strong>
                            <p class="descripcion">MacBook Pro 2019
                        </strong></p><br>
                    </div>
                </article>
                <article>
                    <div class="articulos">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen de celular samsung"
                            class="imagenes-productos">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuento-tamaño">10% off</p>
                        <strong>
                            <p class="descripcion">Samsung Galaxy S10
                        </strong></p>
                    </div>
                </article>
                <article>
                    <div class="articulos">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="imagen de tv samsung"
                            class="imagenes-productos">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuento-tamaño">5% off</p>
                        <strong>
                            <p class="descripcion"> SmartTv Samsung 43"
                        </strong></p>
                    </div>
                </article>
            </div>
    </section>


























        <footer>
            <ul>
                <i class="fas fa-credit-card icono-modif"></i>
                <p><strong>Pagá con tarjeta o en efectivo</strong><br>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago<br>
                    ¡Y siempre es seguro!</p>
                <hr>
                <i class="fas fa-gift icono-modif"></i>
                <p><strong>Envío gratis desde $ 2.500 </strong><br>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.<br>
                    Es un beneficio de Mercado Puntos.</p>
                <hr>
                <i class="fas fa-user-shield icono-modif"></i>
                <p><strong>Seguridad, de principio a fin</strong><br>
                    No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>
                    porque estás siempre protegid@.</p>
                <hr>
                <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L. </strong><br>

            </ul>



    </main>
    </footer>




</body>

</html>